.tag-list li {
    display: inline;
    margin-right: 0.5em;
}

.tag-list ul {
    list-style-type: none;
}

.tag-list {
    margin-bottom:2em;
}

.btn-tag {
    background-color:white;
    border-width:0.15em;
    font-weight:bold;
}