<link href="/css/recipes/new.css" rel="stylesheet">

<div class="container">

    <div class="col-md-6 col-md-offset-3">
        <form action="/recipes/new" method="POST">
            <div class="form-group">
                <input class="form-control" name="title" placeholder="Recipe name">
            </div>
            <div class="form-group">
                <div id="ingredients"></div>
                <div class="centered">
                    <button id="add-ingredient" type="button" class="btn btn-primary">Add Ingredient</button>
                </div>
            </div>
            <div class="form-group">
                <div id="steps"></div>
                <div class="centered">
                    <button id="add-step" type="button" class="btn btn-primary">Add Step</button>
                </div>
            </div>
            <div class="form-group">
                <input name="tags" class="form-control" placeholder="Add some tags seperated by spaces">
            </div>
            <div class="form-group right">
                <button class="btn btn-success">Save this Recipe</button>                
            </div>
        </form>
    </div>

</div> <!-- /container -->

<script src="/js/recipes/new.js"></script>